
    
          <h1 style="text-align: center;">{{data[0].title}}</h1>
          <p style="color: black;">{{data[0].paragraph}}</p>
        <div class="container">
          <div class="row">
        
          <div class="col">
      
           <div class="card my-4 mx-3" >
             <img src="{{ data[0].image1 }}" class="card-img-top img1" alt="..." width="450px;" height="350px;">
             <div class="card-img-top my-6">
           
      
             
             </div>
           </div></div>

           <div class="col">
      
            <div class="card my-4 mx-3" >
              <img src="{{ data[0].image2 }}" class="card-img-top img1" alt="..." width="450px;" height="350px;">
              <div class="card-img-top my-6">
            
       
              
              </div>
            </div></div>

            <div class="col">
      
              <div class="card my-4 mx-3" >
                <img src="{{ data[0].image3 }}" class="card-img-top img1" alt="..." width="450px;" height="350px;">
                <div class="card-img-top my-6">
              
         
                
                </div>
              </div></div>


              <div class="col">
      
                <div class="card my-4 mx-3" >
                  <img src="{{ data[0].image4 }}" class="card-img-top img1" alt="..." width="450px;" height="350px;">
                  <div class="card-img-top my-6">
                
           
                  
                  </div>
                </div></div>

          </div>
          
          </div>
          <div class="container">



    